body {
  font-family: "Monserat";
  background-color: #f4f4fd;
  color: #2e2f42;
}
h1,
h2,
h3,
h4 {
  color: #2e2f42;
}

p {
  font-size: 16px;
  color: #434455;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
